{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  },
  "extends": "airbnb"
}